# Telegram-бот
aiogram==3.17.0

# Yandex Object Storage (S3 API)
boto3==1.35.90
botocore==1.35.90

# API-сервер
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20

# Утилиты
python-dotenv==1.0.1
pydantic==2.10.5
PyJWT==2.10.1
